{% extends 'base.html' %}

{% block content %}
<h2>Upload Image for Classification ({{ disease.upper() }})</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required>
    <button type="submit">Classify</button>
</form>

{% if result %}
    <h3>Classification Result</h3>
    <p>{{ result }}</p>
    <h3>Uploaded Image</h3>
    <img src="{{ url_for('static', filename='images/' + filepath.split('/')[-1]) }}" alt="Uploaded Image" style="max-width: 500px;">
{% endif %}
{% endblock %}
